# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
.venv/

# Cache / test / coverage
.pytest_cache/
.cache
coverage.xml
*.cover

# Editor settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
